<!-- Example of accessing a record field -->
<style type="text/css">
	body{
		color:<%= raw @branding["records"][0]["Font_Colour_Main__c"] %>;
		<% if @branding["records"][0]["Image_Background__c"] == true %>
	        background: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Background_Image__c"] %>') <%= raw @branding["records"][0]["Back_Background_G_T__c}"] %>;   
	        background: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Background_Image__c"] %>'), -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Background_G_T__c}"] %> 0%, <%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%); 
	        background: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Background_Image__c"] %>'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Background_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %>));
	        background: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Background_Image__c"] %>'), -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Background_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%);
	        background: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Background_Image__c"] %>'), linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Background_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%);
		<% else %>
		        background: <%= raw @branding["records"][0]["Back_Background_G_T__c}"] %>;   
		        background:-moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Background_G_T__c}"] %> 0%, <%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%); 
		        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Background_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %>));
		        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Background_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%);
		        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Background_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Background_G_B__c"] %> 100%);
        <% end %>
		background-repeat:<%= raw @branding["records"][0]["Image_Background_Repeat__c"] %>;
        background-position:<%= raw @branding["records"][0]["Image_Background_Position__c"] %>;
	}
	#header{
		height:135px;
		width:100%;
        background: <%= raw @branding["records"][0]["Back_Header_Mid_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_Mid_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Header_Mid_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Header_Mid_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Header_Mid_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_Mid_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_Mid_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Header_Mid_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_Mid_G_B__c"] %> 100%);
        position:absolute;
        top:0px;
        left:0px;
		padding:0px 20px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	#headerlogo{
		width:100%;
		height:90px;
		background-image: url('<%= session[:accessurl] %><%= raw @branding["records"][0]["Image_Logo__c"] %>');
		background-repeat: no-repeat;
		background-position:left; 
		margin-top:10px;
	}
	.page{
		width:800px;
        background: <%= raw @branding["records"][0]["Back_Body_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Body_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Body_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Body_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Body_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Body_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Body_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Body_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Body_G_B__c"] %> 100%);
		min-height:600px;
		display:none;
		border:1px solid #efefef;
		margin-bottom:40px;
		border-top:0px;
	}
	#pageHeader{
		width:820px;
		height:41px;
		line-height:41px;
		color:<%= raw @branding["records"][0]["Font_Colour_Secondary_Title__c"] %>;
        background: <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
		font-size: 20px;
		padding:0px 10px;
		font-weight:bold;
		position:relative;
		z-index:100;
		position:relative;
		margin-left:-20px;
		border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
        -webkit-border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
        -moz-border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
	}

	#contactpicture{
		height:30px;
		width:30px;
		position:absolute;
		right:5px;
		top:5px;
		display:none;
	}


	#login{
		display:block;
	}
	#loginButton{
		width:200px;
		height:200px;
		background:#FF00FF;
		cursor:pointer;
	}
	#overlay{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 101;
		opacity: 0.6;
		background: #FFFFFF;
		border:0px;
	}
	#overlay img{
		width: 350px;
		display: block;
		margin: auto;
		margin-top:150px;
	}
	.button{
		height:100px;
		width:100px;
		margin-left:20px;
		background:#00FF00;
	}
	.productRow{
		border-bottom:1px solid #efefef;
		padding:20px;
		width:760px;
		height:200px;
	}
	.productImage, .productDetails, .productButtons{
		float:left;
		position:relative;
	}
	.productImage, #profilePicture{
		border:1px solid #efefef;
		width:200px;
		height:200px;
	}
	#profilePicture{
		padding:10px;
		width:180px;
		height:180px;
		float:left;
	}
	#profilePictureImage{
		background-repeat: no-repeat;
		background-size:100%;
		background-position:50% 50%;
		width:100%;
		height:100%;
	}
	.productDetails{
		margin-left:20px;
		width:400px;
		height:100%;
	}
	.title{
		font-size:14px;
		font-weight:bold;
		margin-top:10px;

	}
	.info{
		font-size:14px;
		margin-bottom:10px;
		margin-top:5px;
	}
	.productButtons{
		width:138px;
	}
	.likes{
		color:<%= raw @branding["records"][0]["Font_Colour_Secondary_Title__c"] %>;
        background: <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
		width:100%;
		height:40px;
		line-height:40px;
		font-size:18px;
		position:absolute;
		bottom:0px;
		left:0px;
		opacity:0.7;
		text-align: center;

	}
	.likeButton, .buyButton{
		height: 33px;
		width: 110px;
		background: <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%);
		text-align: center;
		font-size: 18px;
		line-height: 33px;
		margin: auto;
		margin-top: 30px;
		color: #ffffff;
		padding: 5px;
		font-weight: bold;
		cursor:pointer;
		float:right;
		border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
        -webkit-border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
        -moz-border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
	}
	.likeButton:hover, .buyButton:hover, #orderButton input:hover, .button:hover, #loginButton:hover{
		background: <%= raw @branding["records"][0]["Back_Side_Button_H_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_H_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Side_Button_H_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Side_Button_H_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Side_Button_H_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_H_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_H_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Side_Button_H_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_H_G_B__c"] %> 100%);	
	}
	#productHeader .productButtons{
		display:none;
	}
	#productHeader .productDetails{
		width:538px;
	}
	.label{
		width:105px;
		text-align:right;
		height:30px;
		float:left;
		font-size:14px;
		line-height: 30px;
		padding-right:10px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		font-weight:bold;
	}
	.data{
		float:left;
		width:170px;
		padding-left:10px;
		height:35px;
		line-height:30px;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.data input{
		border: 1px solid #efefef;
		height: 25px;
		font-size: 14px !important;
		padding-left: 5px;
		width: 100%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		color: #CCCCCC;
		outline: none;
	}
	.data select{
		width:100%;
	}
	.data input:focus{
		color:<%= raw @branding["records"][0]["Font_Colour_Main__c"] %>;
		outline: none;
		border: 1px solid <%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %>;
	}
	h1{
		font-size: 18px;
		color:<%= raw @branding["records"][0]["Font_Colour_Secondary_Title__c"] %>;
		font-weight: bold;
		margin: 0px;
		padding: 10px;
        background: <%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Page_Block_Header_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Page_Block_Header_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Page_Block_Header_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Page_Block_Header_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Page_Block_Header_G_B__c"] %> 100%);
		position:relative;
		width:800px;
		margin-left: -10px;
		border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
        -webkit-border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
        -moz-border-radius:<%= raw @branding["records"][0]["Radius_Page_Block__c"] %>;
	}
	#orderForm, #mapForm{
		padding:20px;
		border-bottom:1px solid #efefef;
		display:table;
	}
	#orderButton {
		height: 90px;
		width: 100%;
	}
	#orderButton input, .button, #loginButton{
		display:block;
		height: 46px;
		width: 110px;
        background: <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Side_Button_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Side_Button_G_B__c"] %> 100%);
		text-align: center;
		font-size: 18px;
		line-height: 46px;
		margin: auto;
		margin-top: 30px;
		color: #ffffff;
		font-weight: bold;
		cursor:pointer;
		float:right;
		margin:20px;
		border:0px;
		padding: 0px;
		border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
        -webkit-border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
        -moz-border-radius:<%= raw @branding["records"][0]["Radius_Side_Button__c"] %>;
	}
	.button, #loginButton{
		margin:auto;
		float:none;
	}
	#loginButton{
		margin-top:20px;
	}
	h2{
		color:<%= raw @branding["records"][0]["Font_Colour_Main__c"] %>;
		display: block;
		margin: auto;
		text-align: center;
		font-size: 51px;
		text-transform: uppercase;
		margin-top: 20px;
	}
	h3{
		color:<%= raw @branding["records"][0]["Font_Colour_Main__c"] %>;
		text-align: center;
		font-size: 18px;
	}
	#friendGrid{
		width:300px;
		height:300px;
		margin:auto;
	}
	#friendGrid img{
		display:block;
		float:left;
		width:50px;
		height:50px;
		margin:5px;
	}
	#mapIcon{
		height:40px;
		line-height:40px;
		border-radius: 30px;
		-moz-border-radius:30px;
        background: <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>;
        background: -moz-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%, <%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%); 
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,<%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %>), color-stop(100%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %>));
        background: -webkit-linear-gradient(top,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
        background: linear-gradient(to bottom,  <%= raw @branding["records"][0]["Back_Header_B_G_T__c"] %> 0%,<%= raw @branding["records"][0]["Back_Header_B_G_B__c"] %> 100%);
        position:absolute;
        top:200px;
        left:500px;
        display:table;
        font-size:14px;
        padding:0px 10px;
        color:<%= raw @branding["records"][0]["Font_Colour_Secondary_Title__c"] %>;
        font-weight:bold;
	}
	#mapForm{
		position:relative;
	}
</style>

<div id="header">
	<div id="headerlogo"></div>
</div>

<div id="content">

	<div id="pageHeader">
		Social Store
		<img id="contactpicture"></img>
	</div>

	<div class="page" id="overlay">
		<img src="/images/loading.gif"/>
	</div>

	<div class="page" id="login">
		<h1>The <%= @company["companyName"] %> Social Store</h1>
		<h2>Welcome!<h2>
		<h3>Please login to continue</h3>
		<div id="loginButton">Enter Shop</div>
	</div>

	<div class="page" id="store">
		<h1 id="welcomeMessage">Welcome!</h1>
		<% @products["records"].each do |p| %>
			<div class="productRow" id="pr<%= p["Id"]%>">
				<div class="productImage" style="background: url('<%= session[:accessurl] %><%= p["purl__c"]%>') no-repeat; background-size:100%;background-position:50% 50%;"><div class="likes"><%= rand(5000) %></div></div>
				<div class="productDetails">
					<div class="title">
						Name
					</div>
					<div class="info">
						<%= p["Name"] %>
					</div>
					<div class="title">
						Description
					</div>
					<div class="info">
						<%= p["Description"] %>
					</div>
				</div>
				<div class="productButtons">
					<div class="buyButton" id="buy<%= p["Id"]%>" onclick="confirmOrder('<%= p["Id"]%>', '<%= p["Name"]%>');">Buy</div>
					<div class="likeButton" id="buy<%= p["Id"]%>" >Like</div>
				</div>
			</div>
		<% end %>
	</div>

	<div class="page" id="order">
		<h1>1. Check out your product</h1>
		<div id="productHeader" class="productRow"></div>
		<h1>2. Enter your details</h1>

		<form method="post" action="/brandings/create" id="createcontact"> 
			<div id="orderForm">
				<div id="profilePicture"><div id="profilePictureImage"></div></div>
				<input type="hidden" name="productid" id="productid" value=""></input>
				<input type="hidden" name="productname" id="productname" value=""></input>
				<div class="label">First Name</div><div class="data"><input type="input" name="contactfirstname" id="contactfirstname" value=""></input></div>
				<div class="label">Last Name</div><div class="data"><input type="input" name="contactlastname" id="contactlastname" value=""></input></div>
				<div class="label">Email</div><div class="data"><input type="input" name="contactemail" id="contactemail" value=""></input></div>
				<div class="label">Phone</div><div class="data"><input type="input" name="contactphone" id="contactphone" value=""></input></div>
				<div class="label">Mobile</div><div class="data"><input type="input" name="contactmobile" id="contactmobile" value=""></input></div>
				<div class="label">Delivery</div><div class="data"><select name="activitysubject" id="activitysubject">
					<option>In-Store Pickup</option>
					<option>Please Deliver</option>
				</select></div>
				<div class="label">Date</div><div class="data"><input type="date" name="activitydate" id="activitydate" value=""></input></div>
				<div class="label">Street</div><div class="data"><input type="input" name="contactstreet" id="contactstreet" value=""></input></div>
				<div class="label">City</div><div class="data"><input type="input" name="contactcity" id="contactcity" value=""></input></div>
				<div class="label">Postcode</div><div class="data"><input type="input" name="contactpostalcode" id="contactpostalcode" value=""></input></div>
				<div class="label">Country</div><div class="data"><input type="input" name="contactcountry" id="contactccountry" value=""></input></div>
				
			</div>
			<h1>3. View your nearest store</h1>
			<div id="mapForm">
				<div id="mapIcon"></div>
				<img src="" id="storeLocation" width="760px"></img>
			</div>
			<div id="orderButton"><input type="submit" value="4. Order"></input></div>
		</form>
		


	</div>

	<div class="page" id="share">
		<h1>Order Details</h1>
		<h2>Thankyou!</h2>
		<h3>Your order has been received.</h3>
		<h3>Share your purchase with your friends:</h3>
		<div id="friendGrid"></div>
		<div class="button" id="shareButton" onclick="sharePurchase();">Share</div>
	</div>

	<div class="page" id="survey">
		Survey...
	</div>

</content>

<!-- Hidden iFrame that allows access to images in the org -->
<iframe style="position:absolute;display:none;" src="<%= @iframe_url %>"></iframe>


<div id="fb-root"></div>
<script>
	function initFacebook(){
		FB.init({
			appId  : '501740823195275',
			status : true, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml  : true  // parse XFBML
		});

		FB.getLoginStatus(onFacebookInitialLoginStatus);
	}

	(function(){
		var e = document.createElement('script');
		e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
		e.async = true;
		document.getElementById('fb-root').appendChild(e);
	}());

	function onFacebookInitialLoginStatus(response){
		if(response.status=="connected" && response.authResponse){
			setupAfterLogin();
		}
		else{
			FB.login(onFacebookLoginStatus, {scope:'email'});
		}
	}

	function onFacebookLoginStatus(response){
		if(response.status=="connected" && response.authResponse){
			setupAfterLogin();
		}
	}

	function setupAfterLogin(){
		FB.api('/me', function(response){
			$('#contactfirstname').val(response.first_name);
			$('#contactlastname').val(response.last_name);
			$('#contactemail').val(response.email);
			$('#contactcity').val(response.location.name);
			$('#mapIcon').html(response.location.name + ' Store');
			$('#storeLocation').attr('src', 'https://maps.googleapis.com/maps/api/staticmap?center=' + response.location.name + '&zoom=13&size=760x300&maptype=roadmap&sensor=false&scale=2');
			$('#welcomeMessage').html('Hi ' + response.first_name + '! Have a look at our great selection of products');
			FB.api('/' + response.id + '/picture?type=large', function(response){
				$('#contactpicture').attr('src', response.data.url);
				$('#contactpicture').show();
				$('#profilePictureImage').css('background-image', "url('" + response.data.url + "')");
				$('#overlay').hide();
				$('#login').hide();
				$('#store').show();
				window.scrollTo(0,0);
				FB.api('/me/friends?fields=picture', function(response){
					var newhtml = '';
					for (var i = 0; i < response.data.length && i < 25; i++) {

					    newhtml += '<img src="' + response.data[i].picture.data.url + '"></img>';
					}
					$('#friendGrid').html(newhtml);
				});
			});
		});
	}

	function sharePurchase(){
		FB.ui(
		{
			method: 'feed',
			name: '<%= @company["companyName"] %> Social Store',
			caption: 'I just used the <%= @company["companyName"] %> Social Store',
			description: (
			'Shopping has never been easier with the Social Store.'
			),
			link: 'https://apps.facebook.com/socialstoredemo',
			picture: 'https://peaceful-badlands-9510.herokuapp.com/images/SSLogo.png'
			},
			function(response) {
			}
		);
	}

	function takeSurvey(){
		$('#share').hide();
		$('#survey').show();
	}

	function confirmOrder(productId, productName){
		$('#productid').val(productId);
		$('#productname').val(productName);
		$('#productHeader').html($('#pr' + productId).html());
		$('#store').hide();
		$('#order').show();
		window.scrollTo(0,0);
	}

	$(document).ready(function(){
		$('#createcontact').submit(function(){  
			$('#overlay').show();
			var valuesToSubmit = $(this).serialize();
			$.ajax({
				url: $(this).attr('action'),
				data: valuesToSubmit,
				dataType: "JSON",
				type: 'POST'
			}).success(function(json){
				$('#order').hide();
				$('#share').show();
				$('#overlay').hide();
				window.scrollTo(0,0);
			});
			return false;
		});

		$('#loginButton').click(function(){
			$('#overlay').show();
			initFacebook();
		});
	});
</script>